{
	"root": true,
	"extends": [
		"eslint-config-niksy",
		"eslint-config-niksy/typescript",
		"eslint-config-niksy/next",
		"eslint-config-prettier"
	],
	"plugins": ["eslint-plugin-prettier"],
	"settings": {
		"jsdoc": {
			"preferredTypes": ["_sass"]
		}
	},
	"rules": {
		"prettier/prettier": 1
	},
	"overrides": [
		{
			"files": ["rollup.config.js"],
			"parserOptions": {
				"sourceType": "script"
			},
			"plugins": ["eslint-plugin-unicorn"],
			"rules": {
				"no-console": 0,
				"unicorn/numeric-separators-style": 0
			}
		}
	]
}
