$foo: 16px; // comment
$bar: $foo * 1.1;
$baz: 42;
$foo-bar: #666;
$foo-bar-baz: darken($foo-bar, 25%);
$foo-bar-baz-bad: #123 !default;
$grault: 1, 2, "3", 4px, 42%, 1.23456789px, (4,5,6), (foo: "bar baz");
$garply: (
	foo: 1,
	bar: (2, 3),
	baz: "3 3 3",
	bad: (
		foo: 11,
		bar: 22,
		baz: (
			5, 4, 6, null, 1, 1.23456789px
		),
		bag: "foo bar"
	),
	qux: rgba(255,255,255,0.5),
	corgle: red
);
$qux: false;
$fred: true;
$corgle: null;

.nested {

	.selector {
		$nested-var-1: thud;
	}
}

@media screen and (max-width:600px) {
	$nested-var-2: qux;
}
